
<mat-toolbar color="primary">
  <span>Modularidade Angular (decorator @NgModule e metadados: imports, exports, declarations e providers)</span>
  <span class="creditos">Creditos: CRUD -  Loiane Groner   /  PurePipe  - Mauricio Junior</span>  
</mat-toolbar>
<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Cadastro de Produtos</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item>Novo Produto</button>
</mat-menu> -->
<router-outlet></router-outlet>